In [1]:
#importing the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from missingpy import MissForest
from fancyimpute import IterativeImputer
from mlens.ensemble import SuperLearner
from imblearn.over_sampling import SMOTE

Using TensorFlow backend.
[MLENS] backend: threading

In [2]:
data=pd.read_csv("TrainingData.csv") #reading the test and train data
data2=pd.read_csv("testX.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Y = data.loc[:, data.columns == 'default_ind']  #separating out the Y values
app_key_train = data.loc[:, data.columns == 'application_key'] #separating out the application keys
data = data.loc[:, data.columns != 'default_ind']
data= data.loc[:, data.columns != 'application_key'] #separating out the application keys
app_key_test = data2.loc[:, data2.columns == 'application_key']
data2= data2.loc[:, data2.columns != 'application_key']
df = pd.concat([data, data2], ignore_index=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130000 entries, 0 to 129999
Data columns (total 48 columns):
mvar1     130000 non-null object
mvar2     120787 non-null float64
mvar3     129171 non-null float64
mvar4     129171 non-null float64
mvar5     129171 non-null float64
mvar6     130000 non-null object
mvar7     130000 non-null object
mvar8     130000 non-null object
mvar9     130000 non-null object
mvar10    130000 non-null object
mvar11    130000 non-null object
mvar12    130000 non-null object
mvar13    130000 non-null object
mvar14    130000 non-null int64
mvar15    130000 non-null object
mvar16    130000 non-null object
mvar17    130000 non-null object
mvar18    130000 non-null object
mvar19    130000 non-null object
mvar20    130000 non-null object
mvar21    93158 non-null float64
mvar22    81964 non-null float64
mvar23    63712 non-null float64
mvar24    99204 non-null float64
mvar25    130000 non-null object
mvar26    130000 non-null object
mvar27    130000 non-null object
mvar28    130000 non-null object
mvar29    130000 non-null object
mvar30    130000 non-null object
mvar31    130000 non-null object
mvar32    130000 non-null object
mvar33    127094 non-null float64
mvar34    130000 non-null object
mvar35    130000 non-null object
mvar36    130000 non-null object
mvar37    130000 non-null object
mvar38    130000 non-null object
mvar39    130000 non-null object
mvar40    130000 non-null object
mvar41    130000 non-null object
mvar42    130000 non-null object
mvar43    130000 non-null object
mvar44    117168 non-null float64
mvar45    130000 non-null object
mvar46    130000 non-null object
mvar47    130000 non-null object
mvar48    130000 non-null int64
dtypes: float64(10), int64(2), object(36)
memory usage: 47.6+ MB

In [5]:
print(df)

       mvar1   mvar2   mvar3  mvar4  mvar5    mvar6    mvar7    mvar8  \
0       1696  1.6541   0.000  0.000  0.000        0     6015      322
1       1846  0.8095   0.000  0.000  0.000      102     7532     3171
2       1745  0.4001   0.000  0.000  0.000  missing     2536  missing
3       1739  0.2193   0.000  0.000  0.000     1982    26440     4955
4       1787  0.0118   0.225  0.000  0.000     5451     5494     5494
5       1579     NaN   3.502  0.000  0.000  missing  missing  missing
6       1818  0.4001   0.000  0.000  0.000  missing     1088  missing
7         na     NaN     NaN    NaN    NaN  missing  missing  missing
8       1836  0.1358   0.000  0.000  0.000      347    38964    17828
9       1839  0.1981   0.000  0.000  0.000      793     6131     6045
10      1903  0.0000   0.000  0.000  0.000       22    19518     9910
11      1681  1.5888   5.685  3.566  0.000       93     3554      439
12      1841  0.5388   0.000  0.000  0.000     1487    19449    19449
13      1794  1.9684   0.000  0.000  0.000      856     8609     8609
14      1669  3.8558  18.465  6.292  1.200  missing      142  missing
15      1583  3.0284  16.325  0.000  0.000  missing  missing  missing
16      1899  0.0970   0.000  0.000  0.000     1015    13379    13379
17      1690  8.7747  10.437  0.000  0.000      122      623      299
18      1599  0.8601   1.525  1.525  0.000  missing      878  missing
19      1859  0.0155   0.368  0.000  0.000      424    86509    12451
20      1880  2.6101   0.000  0.000  0.000        0    19252     6342
21      1852  3.6201   0.000  0.000  0.000      799    16515    16515
22      1655  3.0268  14.748  0.000  0.000       48       48       48
23      1863  0.0401   0.000  0.000  0.000     1487     4955     4955
24      1753  0.2251   0.000  0.000  0.000     1124     1124     1124
25      1894  0.0318   0.000  0.000  0.000     4655     7433     7433
26      1803  0.3993   0.000  0.000  0.000      496    10505      496
27      1932  0.3276   0.000  0.000  0.000     6982    21569    18829
28      1714  5.1904   0.770  0.000  0.000        0     1889      595
29        na  2.0457   4.514  0.000  0.000  missing  missing  missing
...      ...     ...     ...    ...    ...      ...      ...      ...
129970  1834  1.2164   0.000  0.000  0.000     2212     5244     4203
129971  1729  1.3696   0.000  0.000  0.000      356     4218     1982
129972  1753  5.8283   0.000  0.000  0.000      180     4014      617
129973  1748  1.9635   0.642  0.000  0.000      291     3469     3469
129974  1771  1.7588   0.000  0.000  0.000       66    12626     6433
129975  1766  0.9540   0.000  0.000  0.000     1140    10207    10207
129976  1822  0.0000   1.853  1.853  0.000     2581    13361     5946
129977  1824  0.5634   0.000  0.000  0.000     3964     4683     4683
129978  1914  0.0544   0.000  0.000  0.000     3469    20424    20424
129979  1600  2.6649  18.282  1.078  2.678        0     7205        0
129980  1822  0.5851   0.000  0.000  0.000        0    23685    23685
129981  1693  0.1828  17.767  2.024  0.000      114    27514      384
129982  1735  3.1701   0.260  0.000  0.000      117      892      117
129983  1671  0.1380   0.000  0.000  0.000  missing      491  missing
129984  1924  0.1221   0.000  0.000  0.000     2478   266683   266683
129985  1670  0.0347   9.836  0.000  0.000      212     7848      491
129986  1901  0.1782   0.000  0.000  0.000     4955    21753    12673
129987  1835  0.5372   0.000  0.000  0.000        0    29723     3964
129988  1927  0.0410   0.000  0.000  0.000    22000    30046    24165
129989    na  0.1451   0.000  0.000  0.000  missing  missing  missing
129990  1941  0.4834   0.000  0.000  0.000    10846    52806    35478
129991  1899     NaN   0.000  0.000  0.000     7310    14519    14519
129992  1761  2.0999   0.000  0.000  0.000       47    13477     1814
129993  1700  0.3831   0.000  0.000  0.000      344      344      344
129994  1910  0.0000   0.000  0.000  0.000     4955    47306    47306
129995  1736  2.1740   0.000  0.000  0.000       11     4248     1577
129996  1724  0.0000   1.108  0.768  0.000  missing    64041  missing
129997  1605  0.2901  11.561  0.937  2.976  missing     2277  missing
129998  1780  1.1874   0.000  0.000  0.000        0     6356     4802
129999  1727  1.9288   1.441  0.000  0.000        0    25773     2869

          mvar9   mvar10  ... mvar39   mvar40   mvar41   mvar42 mvar43  \
0         40369    18414  ...      1    73.78   82.547  0.08696     10
1         18234    13664  ...      0   99.129  missing        0     13
2       missing     2536  ...      0  missing    29.29        0      1
3         20316    37013  ...      0   96.272  missing  0.15385      3
4          7987     4696  ...      0  115.019  missing        0      1
5       missing        0  ...     na  missing  missing      1.5      0
6          1536     1498  ...      0   88.171  missing        0      2
7       missing  missing  ...     na  missing  missing  missing     na
8         70729    65843  ...      0  missing  missing        0     10
9         48959    31640  ...      0  missing    45.59  0.08824     14
10        90618   110271  ...      0  missing  missing        0     17
11         2527     7086  ...      1  missing  missing  0.61111      7
12         6739     6612  ...      0  missing  missing        0      5
13        60545    24893  ...      0  missing  missing        0     13
14           38      142  ...      0  107.825   98.664     0.56     11
15        51450        0  ...      0  missing  missing  0.32353      2
16       246906    56533  ...      0   10.384  missing        0     19
17         1140     2043  ...      0  missing  missing  0.63636      5
18      missing      878  ...      1  missing   91.175      0.8      0
19        86635   142081  ...      0  missing  missing        0     12
20        59601    86906  ...      0  missing   72.497        0     14
21       110651    41311  ...      0  missing  missing        0     13
22          198       48  ...      0  missing  missing        1      1
23        22902    21772  ...      0   96.895  missing        0     12
24            0     1124  ...      0  missing  missing  missing      0
25        25667    12345  ...      0  missing        0        0      3
26          991    18163  ...      0   91.752   87.306      0.2      5
27       187209   113813  ...      0  missing  missing        0     11
28        12574     4825  ...      0  missing  missing  0.35714      6
29      missing        0  ...     na  missing  missing  1.16667      0
...         ...      ...  ...    ...      ...      ...      ...    ...
129970    16743    13831  ...      0  missing   97.398        0      8
129971    18657     8921  ...      0  missing   83.663  0.09091      6
129972     3667     9786  ...      0  missing   87.094  0.11111      9
129973    13131    14393  ...      0  missing   92.244     0.44     14
129974    27946    24401  ...      0  missing   40.477        0     10
129975    55001    20636  ...      0  missing  missing     0.05     14
129976    31018    76774  ...      0   73.611   44.656  0.03448     20
129977  missing     8647  ...      0  missing  missing  missing     na
129978    78774    27856  ...      0  missing  missing        0      8
129979      956     7360  ...      1  132.335   56.867  0.55263     14
129980   208174    55719  ...      0  missing  missing        0     17
129981     2329    48080  ...      0   74.814  missing  0.17857      5
129982     3766     1265  ...      0  missing   99.026        0      2
129983  missing      491  ...      0  missing  missing      0.8      2
129984   405300   390558  ...      0  missing   70.799        0     13
129985    29785    16226  ...      0  missing     78.7  0.13636     10
129986    70293    62980  ...      0  missing   61.301        0     10
129987    66770    85900  ...      0  missing  missing        0      9
129988    75019    88343  ...      0  missing   19.444        0      7
129989  missing        0  ...     na  missing  missing      1.5      0
129990   136461   176240  ...      0  missing  missing  0.05882      8
129991     5252     4949  ...      0  missing  missing        0      3
129992     9320     2500  ...      0  missing  missing    0.125      5
129993      991      344  ...      0  missing  missing  0.66667      2
129994    88124   107148  ...      0  missing  missing        0      4
129995    13379     6671  ...      0  missing   78.378        0      4
129996    10926    84839  ...      0  missing   38.325  0.16667     14
129997     3964     5709  ...      2   101.85   93.142      0.5      4
129998     3206    18180  ...      0  missing   77.022  0.06061      9
129999   132985    71788  ...      0     32.4  missing  0.07143     12

         mvar44 mvar45 mvar46 mvar47 mvar48
0       0.63899     na      0      C     10
1       0.63836     na     na      L    732
2       1.00000     na      0      C     89
3       0.53241      0      0      L      3
4       0.92665     na     na      L      5
5           NaN     na     na      C     35
6       0.87224     na      0      C      2
7           NaN     na     na      C      2
8       0.89868      0      0      L      5
9       0.33834     na      0      L   3247
10      0.80620      0      0      L      3
11      0.81172      0      0      C   3247
12      0.98031     na     na      C     19
13      0.35724     na      0      C     89
14      0.29169     na      1      C   3247
15          NaN      0     na      C     21
16      0.47480      0      0      L    111
17      0.94951     na      0      L      3
18      1.00000     na      0      C   3247
19      0.34730      0      0      L     89
20      0.28708     na      0      L      2
21      0.75349     na     na      L     18
22      1.00000     na     na      C      3
23      0.40853     na      0      L   3247
24      1.00000     na     na      C     17
25      0.99419      0      0      L     89
26      0.75289      0      0      L      3
27      0.99710      0      0      C   3247
28      0.85082      0      0      L     89
29          NaN     na     na      L     89
...         ...    ...    ...    ...    ...
129970  0.58040     na      0      C    732
129971  0.62632      0      0      C     13
129972  0.59364     na      0      L     12
129973  0.83809      0      0      L      5
129974  0.46863     na      0      C   3247
129975  0.54754     na     na      C     13
129976  0.23177     na      0      C     12
129977  0.67222     na     na      C   3247
129978  1.00000      0      0      L     12
129979  0.11763     na      0      L     89
129980  0.81438      0     na      L     18
129981  0.53340     na      0      C    732
129982  0.96747     na      0      C   3247
129983  1.00000     na     na      C      3
129984  0.75322      0      0      L     25
129985  0.85771     na      0      L     11
129986  0.86356      0      0      L     89
129987  0.41685      0      0      L      8
129988  0.53750      0      0      L      2
129989      NaN     na     na      L     89
129990  0.84170      0      0      L      3
129991  0.44615     na     na      L   3247
129992  0.73640      0      0      C      9
129993  0.97374      0      0      C      2
129994  0.79867     na     na      L      8
129995  0.43829     na      0      C     19
129996  0.57931      0      0      C      5
129997  0.42069     na      0      C     22
129998  0.53251     na      0      L      9
129999  0.68482      0      0      C     89

[130000 rows x 48 columns]

In [6]:
df = df.replace({'missing': np.NaN}, regex=True)
df = df.replace({'na': np.NaN}, regex=True)
df = df.replace({'N/A': np.NaN}, regex=True)
df = df.replace({'L': 0}, regex=True) #encoding the categorical variable
df = df.replace({'C': 1}, regex=True)

In [7]:
print(df)

       mvar1   mvar2   mvar3  mvar4  mvar5  mvar6   mvar7   mvar8   mvar9  \
0       1696  1.6541   0.000  0.000  0.000      0    6015     322   40369
1       1846  0.8095   0.000  0.000  0.000    102    7532    3171   18234
2       1745  0.4001   0.000  0.000  0.000    NaN    2536     NaN     NaN
3       1739  0.2193   0.000  0.000  0.000   1982   26440    4955   20316
4       1787  0.0118   0.225  0.000  0.000   5451    5494    5494    7987
5       1579     NaN   3.502  0.000  0.000    NaN     NaN     NaN     NaN
6       1818  0.4001   0.000  0.000  0.000    NaN    1088     NaN    1536
7        NaN     NaN     NaN    NaN    NaN    NaN     NaN     NaN     NaN
8       1836  0.1358   0.000  0.000  0.000    347   38964   17828   70729
9       1839  0.1981   0.000  0.000  0.000    793    6131    6045   48959
10      1903  0.0000   0.000  0.000  0.000     22   19518    9910   90618
11      1681  1.5888   5.685  3.566  0.000     93    3554     439    2527
12      1841  0.5388   0.000  0.000  0.000   1487   19449   19449    6739
13      1794  1.9684   0.000  0.000  0.000    856    8609    8609   60545
14      1669  3.8558  18.465  6.292  1.200    NaN     142     NaN      38
15      1583  3.0284  16.325  0.000  0.000    NaN     NaN     NaN   51450
16      1899  0.0970   0.000  0.000  0.000   1015   13379   13379  246906
17      1690  8.7747  10.437  0.000  0.000    122     623     299    1140
18      1599  0.8601   1.525  1.525  0.000    NaN     878     NaN     NaN
19      1859  0.0155   0.368  0.000  0.000    424   86509   12451   86635
20      1880  2.6101   0.000  0.000  0.000      0   19252    6342   59601
21      1852  3.6201   0.000  0.000  0.000    799   16515   16515  110651
22      1655  3.0268  14.748  0.000  0.000     48      48      48     198
23      1863  0.0401   0.000  0.000  0.000   1487    4955    4955   22902
24      1753  0.2251   0.000  0.000  0.000   1124    1124    1124       0
25      1894  0.0318   0.000  0.000  0.000   4655    7433    7433   25667
26      1803  0.3993   0.000  0.000  0.000    496   10505     496     991
27      1932  0.3276   0.000  0.000  0.000   6982   21569   18829  187209
28      1714  5.1904   0.770  0.000  0.000      0    1889     595   12574
29       NaN  2.0457   4.514  0.000  0.000    NaN     NaN     NaN     NaN
...      ...     ...     ...    ...    ...    ...     ...     ...     ...
129970  1834  1.2164   0.000  0.000  0.000   2212    5244    4203   16743
129971  1729  1.3696   0.000  0.000  0.000    356    4218    1982   18657
129972  1753  5.8283   0.000  0.000  0.000    180    4014     617    3667
129973  1748  1.9635   0.642  0.000  0.000    291    3469    3469   13131
129974  1771  1.7588   0.000  0.000  0.000     66   12626    6433   27946
129975  1766  0.9540   0.000  0.000  0.000   1140   10207   10207   55001
129976  1822  0.0000   1.853  1.853  0.000   2581   13361    5946   31018
129977  1824  0.5634   0.000  0.000  0.000   3964    4683    4683     NaN
129978  1914  0.0544   0.000  0.000  0.000   3469   20424   20424   78774
129979  1600  2.6649  18.282  1.078  2.678      0    7205       0     956
129980  1822  0.5851   0.000  0.000  0.000      0   23685   23685  208174
129981  1693  0.1828  17.767  2.024  0.000    114   27514     384    2329
129982  1735  3.1701   0.260  0.000  0.000    117     892     117    3766
129983  1671  0.1380   0.000  0.000  0.000    NaN     491     NaN     NaN
129984  1924  0.1221   0.000  0.000  0.000   2478  266683  266683  405300
129985  1670  0.0347   9.836  0.000  0.000    212    7848     491   29785
129986  1901  0.1782   0.000  0.000  0.000   4955   21753   12673   70293
129987  1835  0.5372   0.000  0.000  0.000      0   29723    3964   66770
129988  1927  0.0410   0.000  0.000  0.000  22000   30046   24165   75019
129989   NaN  0.1451   0.000  0.000  0.000    NaN     NaN     NaN     NaN
129990  1941  0.4834   0.000  0.000  0.000  10846   52806   35478  136461
129991  1899     NaN   0.000  0.000  0.000   7310   14519   14519    5252
129992  1761  2.0999   0.000  0.000  0.000     47   13477    1814    9320
129993  1700  0.3831   0.000  0.000  0.000    344     344     344     991
129994  1910  0.0000   0.000  0.000  0.000   4955   47306   47306   88124
129995  1736  2.1740   0.000  0.000  0.000     11    4248    1577   13379
129996  1724  0.0000   1.108  0.768  0.000    NaN   64041     NaN   10926
129997  1605  0.2901  11.561  0.937  2.976    NaN    2277     NaN    3964
129998  1780  1.1874   0.000  0.000  0.000      0    6356    4802    3206
129999  1727  1.9288   1.441  0.000  0.000      0   25773    2869  132985

        mvar10  ... mvar39   mvar40  mvar41   mvar42 mvar43   mvar44 mvar45  \
0        18414  ...      1    73.78  82.547  0.08696     10  0.63899    NaN
1        13664  ...      0   99.129     NaN        0     13  0.63836    NaN
2         2536  ...      0      NaN   29.29        0      1  1.00000    NaN
3        37013  ...      0   96.272     NaN  0.15385      3  0.53241      0
4         4696  ...      0  115.019     NaN        0      1  0.92665    NaN
5            0  ...    NaN      NaN     NaN      1.5      0      NaN    NaN
6         1498  ...      0   88.171     NaN        0      2  0.87224    NaN
7          NaN  ...    NaN      NaN     NaN      NaN    NaN      NaN    NaN
8        65843  ...      0      NaN     NaN        0     10  0.89868      0
9        31640  ...      0      NaN   45.59  0.08824     14  0.33834    NaN
10      110271  ...      0      NaN     NaN        0     17  0.80620      0
11        7086  ...      1      NaN     NaN  0.61111      7  0.81172      0
12        6612  ...      0      NaN     NaN        0      5  0.98031    NaN
13       24893  ...      0      NaN     NaN        0     13  0.35724    NaN
14         142  ...      0  107.825  98.664     0.56     11  0.29169    NaN
15           0  ...      0      NaN     NaN  0.32353      2      NaN      0
16       56533  ...      0   10.384     NaN        0     19  0.47480      0
17        2043  ...      0      NaN     NaN  0.63636      5  0.94951    NaN
18         878  ...      1      NaN  91.175      0.8      0  1.00000    NaN
19      142081  ...      0      NaN     NaN        0     12  0.34730      0
20       86906  ...      0      NaN  72.497        0     14  0.28708    NaN
21       41311  ...      0      NaN     NaN        0     13  0.75349    NaN
22          48  ...      0      NaN     NaN        1      1  1.00000    NaN
23       21772  ...      0   96.895     NaN        0     12  0.40853    NaN
24        1124  ...      0      NaN     NaN      NaN      0  1.00000    NaN
25       12345  ...      0      NaN       0        0      3  0.99419      0
26       18163  ...      0   91.752  87.306      0.2      5  0.75289      0
27      113813  ...      0      NaN     NaN        0     11  0.99710      0
28        4825  ...      0      NaN     NaN  0.35714      6  0.85082      0
29           0  ...    NaN      NaN     NaN  1.16667      0      NaN    NaN
...        ...  ...    ...      ...     ...      ...    ...      ...    ...
129970   13831  ...      0      NaN  97.398        0      8  0.58040    NaN
129971    8921  ...      0      NaN  83.663  0.09091      6  0.62632      0
129972    9786  ...      0      NaN  87.094  0.11111      9  0.59364    NaN
129973   14393  ...      0      NaN  92.244     0.44     14  0.83809      0
129974   24401  ...      0      NaN  40.477        0     10  0.46863    NaN
129975   20636  ...      0      NaN     NaN     0.05     14  0.54754    NaN
129976   76774  ...      0   73.611  44.656  0.03448     20  0.23177    NaN
129977    8647  ...      0      NaN     NaN      NaN    NaN  0.67222    NaN
129978   27856  ...      0      NaN     NaN        0      8  1.00000      0
129979    7360  ...      1  132.335  56.867  0.55263     14  0.11763    NaN
129980   55719  ...      0      NaN     NaN        0     17  0.81438      0
129981   48080  ...      0   74.814     NaN  0.17857      5  0.53340    NaN
129982    1265  ...      0      NaN  99.026        0      2  0.96747    NaN
129983     491  ...      0      NaN     NaN      0.8      2  1.00000    NaN
129984  390558  ...      0      NaN  70.799        0     13  0.75322      0
129985   16226  ...      0      NaN    78.7  0.13636     10  0.85771    NaN
129986   62980  ...      0      NaN  61.301        0     10  0.86356      0
129987   85900  ...      0      NaN     NaN        0      9  0.41685      0
129988   88343  ...      0      NaN  19.444        0      7  0.53750      0
129989       0  ...    NaN      NaN     NaN      1.5      0      NaN    NaN
129990  176240  ...      0      NaN     NaN  0.05882      8  0.84170      0
129991    4949  ...      0      NaN     NaN        0      3  0.44615    NaN
129992    2500  ...      0      NaN     NaN    0.125      5  0.73640      0
129993     344  ...      0      NaN     NaN  0.66667      2  0.97374      0
129994  107148  ...      0      NaN     NaN        0      4  0.79867    NaN
129995    6671  ...      0      NaN  78.378        0      4  0.43829    NaN
129996   84839  ...      0      NaN  38.325  0.16667     14  0.57931      0
129997    5709  ...      2   101.85  93.142      0.5      4  0.42069    NaN
129998   18180  ...      0      NaN  77.022  0.06061      9  0.53251    NaN
129999   71788  ...      0     32.4     NaN  0.07143     12  0.68482      0

       mvar46 mvar47 mvar48
0           0      1     10
1         NaN      0    732
2           0      1     89
3           0      0      3
4         NaN      0      5
5         NaN      1     35
6           0      1      2
7         NaN      1      2
8           0      0      5
9           0      0   3247
10          0      0      3
11          0      1   3247
12        NaN      1     19
13          0      1     89
14          1      1   3247
15        NaN      1     21
16          0      0    111
17          0      0      3
18          0      1   3247
19          0      0     89
20          0      0      2
21        NaN      0     18
22        NaN      1      3
23          0      0   3247
24        NaN      1     17
25          0      0     89
26          0      0      3
27          0      1   3247
28          0      0     89
29        NaN      0     89
...       ...    ...    ...
129970      0      1    732
129971      0      1     13
129972      0      0     12
129973      0      0      5
129974      0      1   3247
129975    NaN      1     13
129976      0      1     12
129977    NaN      1   3247
129978      0      0     12
129979      0      0     89
129980    NaN      0     18
129981      0      1    732
129982      0      1   3247
129983    NaN      1      3
129984      0      0     25
129985      0      0     11
129986      0      0     89
129987      0      0      8
129988      0      0      2
129989    NaN      0     89
129990      0      0      3
129991    NaN      0   3247
129992      0      1      9
129993      0      1      2
129994    NaN      0      8
129995      0      1     19
129996      0      1      5
129997      0      1     22
129998      0      0      9
129999      0      1     89

[130000 rows x 48 columns]

In [8]:
df.drop(['mvar23','mvar30','mvar31','mvar35','mvar40','mvar41','mvar45'], axis=1) # droppping the missing columns

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar36,mvar37,mvar38,mvar39,mvar42,mvar43,mvar44,mvar46,mvar47,mvar48
0,1696,1.6541,0.000,0.000,0.000,0,6015,322,40369,18414,...,8,10,4,1,0.08696,10,0.63899,0,1,10
1,1846,0.8095,0.000,0.000,0.000,102,7532,3171,18234,13664,...,8,0,2,0,0,13,0.63836,NaN,0,732
2,1745,0.4001,0.000,0.000,0.000,NaN,2536,NaN,NaN,2536,...,1,NaN,1,0,0,1,1.00000,0,1,89
3,1739,0.2193,0.000,0.000,0.000,1982,26440,4955,20316,37013,...,3,3,2,0,0.15385,3,0.53241,0,0,3
4,1787,0.0118,0.225,0.000,0.000,5451,5494,5494,7987,4696,...,2,3,2,0,0,1,0.92665,NaN,0,5
5,1579,NaN,3.502,0.000,0.000,NaN,NaN,NaN,NaN,0,...,2,NaN,2,NaN,1.5,0,NaN,NaN,1,35
6,1818,0.4001,0.000,0.000,0.000,NaN,1088,NaN,1536,1498,...,2,0,0,0,0,2,0.87224,0,1,2
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
8,1836,0.1358,0.000,0.000,0.000,347,38964,17828,70729,65843,...,6,12,2,0,0,10,0.89868,0,0,5
9,1839,0.1981,0.000,0.000,0.000,793,6131,6045,48959,31640,...,10,7,0,0,0.08824,14,0.33834,0,0,3247
10,1903,0.0000,0.000,0.000,0.000,22,19518,9910,90618,110271,...,9,11,2,0,0,17,0.80620,0,0,3
11,1681,1.5888,5.685,3.566,0.000,93,3554,439,2527,7086,...,11,0,5,1,0.61111,7,0.81172,0,1,3247
12,1841,0.5388,0.000,0.000,0.000,1487,19449,19449,6739,6612,...,1,0,6,0,0,5,0.98031,NaN,1,19
13,1794,1.9684,0.000,0.000,0.000,856,8609,8609,60545,24893,...,4,6,1,0,0,13,0.35724,0,1,89
14,1669,3.8558,18.465,6.292,1.200,NaN,142,NaN,38,142,...,23,NaN,15,0,0.56,11,0.29169,1,1,3247
15,1583,3.0284,16.325,0.000,0.000,NaN,NaN,NaN,51450,0,...,9,17,4,0,0.32353,2,NaN,NaN,1,21
16,1899,0.0970,0.000,0.000,0.000,1015,13379,13379,246906,56533,...,4,26,2,0,0,19,0.47480,0,0,111
17,1690,8.7747,10.437,0.000,0.000,122,623,299,1140,2043,...,8,1,12,0,0.63636,5,0.94951,0,0,3
18,1599,0.8601,1.525,1.525,0.000,NaN,878,NaN,NaN,878,...,2,0,1,1,0.8,0,1.00000,0,1,3247
19,1859,0.0155,0.368,0.000,0.000,424,86509,12451,86635,142081,...,8,10,2,0,0,12,0.34730,0,0,89
20,1880,2.6101,0.000,0.000,0.000,0,19252,6342,59601,86906,...,9,1,14,0,0,14,0.28708,0,0,2
21,1852,3.6201,0.000,0.000,0.000,799,16515,16515,110651,41311,...,3,5,2,0,0,13,0.75349,NaN,0,18
22,1655,3.0268,14.748,0.000,0.000,48,48,48,198,48,...,2,0,4,0,1,1,1.00000,NaN,1,3
23,1863,0.0401,0.000,0.000,0.000,1487,4955,4955,22902,21772,...,5,6,4,0,0,12,0.40853,0,0,3247
24,1753,0.2251,0.000,0.000,0.000,1124,1124,1124,0,1124,...,NaN,0,1,0,NaN,0,1.00000,NaN,1,17
25,1894,0.0318,0.000,0.000,0.000,4655,7433,7433,25667,12345,...,2,3,1,0,0,3,0.99419,0,0,89
26,1803,0.3993,0.000,0.000,0.000,496,10505,496,991,18163,...,3,1,1,0,0.2,5,0.75289,0,0,3
27,1932,0.3276,0.000,0.000,0.000,6982,21569,18829,187209,113813,...,4,11,2,0,0,11,0.99710,0,1,3247
28,1714,5.1904,0.770,0.000,0.000,0,1889,595,12574,4825,...,5,6,8,0,0.35714,6,0.85082,0,0,89
29,NaN,2.0457,4.514,0.000,0.000,NaN,NaN,NaN,NaN,0,...,7,NaN,4,NaN,1.16667,0,NaN,NaN,0,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,1834,1.2164,0.000,0.000,0.000,2212,5244,4203,16743,13831,...,3,0,8,0,0,8,0.58040,0,1,732
129971,1729,1.3696,0.000,0.000,0.000,356,4218,1982,18657,8921,...,6,2,7,0,0.09091,6,0.62632,0,1,13
129972,1753,5.8283,0.000,0.000,0.000,180,4014,617,3667,9786,...,9,0,10,0,0.11111,9,0.59364,0,0,12
129973,1748,1.9635,0.642,0.000,0.000,291,3469,3469,13131,14393,...,9,2,12,0,0.44,14,0.83809,0,0,5
129974,1771,1.7588,0.000,0.000,0.000,66,12626,6433,27946,24401,...,6,0,4,0,0,10,0.46863,0,1,3247
129975,1766,0.9540,0.000,0.000,0.000,1140,10207,10207,55001,20636,...,3,2,13,0,0.05,14,0.54754,NaN,1,13
129976,1822,0.0000,1.853,1.853,0.000,2581,13361,5946,31018,76774,...,16,4,4,0,0.03448,20,0.23177,0,1,12
129977,1824,0.5634,0.000,0.000,0.000,3964,4683,4683,NaN,8647,...,NaN,1,2,0,NaN,NaN,0.67222,NaN,1,3247
129978,1914,0.0544,0.000,0.000,0.000,3469,20424,20424,78774,27856,...,1,8,1,0,0,8,1.00000,0,0,12
129979,1600,2.6649,18.282,1.078,2.678,0,7205,0,956,7360,...,29,2,9,1,0.55263,14,0.11763,0,0,89
129980,1822,0.5851,0.000,0.000,0.000,0,23685,23685,208174,55719,...,8,16,3,0,0,17,0.81438,NaN,0,18
129981,1693,0.1828,17.767,2.024,0.000,114,27514,384,2329,48080,...,11,9,4,0,0.17857,5,0.53340,0,1,732
129982,1735,3.1701,0.260,0.000,0.000,117,892,117,3766,1265,...,1,0,3,0,0,2,0.96747,0,1,3247
129983,1671,0.1380,0.000,0.000,0.000,NaN,491,NaN,NaN,491,...,2,NaN,1,0,0.8,2,1.00000,NaN,1,3
129984,1924,0.1221,0.000,0.000,0.000,2478,266683,266683,405300,390558,...,7,13,4,0,0,13,0.75322,0,0,25
129985,1670,0.0347,9.836,0.000,0.000,212,7848,491,29785,16226,...,9,8,5,0,0.13636,10,0.85771,0,0,11
129986,1901,0.1782,0.000,0.000,0.000,4955,21753,12673,70293,62980,...,4,5,5,0,0,10,0.86356,0,0,89
129987,1835,0.5372,0.000,0.000,0.000,0,29723,3964,66770,85900,...,5,5,3,0,0,9,0.41685,0,0,8
129988,1927,0.0410,0.000,0.000,0.000,22000,30046,24165,75019,88343,...,5,4,3,0,0,7,0.53750,0,0,2
129989,NaN,0.1451,0.000,0.000,0.000,NaN,NaN,NaN,NaN,0,...,1,NaN,1,NaN,1.5,0,NaN,NaN,0,89
129990,1941,0.4834,0.000,0.000,0.000,10846,52806,35478,136461,176240,...,6,9,1,0,0.05882,8,0.84170,0,0,3
129991,1899,NaN,0.000,0.000,0.000,7310,14519,14519,5252,4949,...,1,9,1,0,0,3,0.44615,NaN,0,3247
129992,1761,2.0999,0.000,0.000,0.000,47,13477,1814,9320,2500,...,5,3,5,0,0.125,5,0.73640,0,1,9
129993,1700,0.3831,0.000,0.000,0.000,344,344,344,991,344,...,1,0,3,0,0.66667,2,0.97374,0,1,2
129994,1910,0.0000,0.000,0.000,0.000,4955,47306,47306,88124,107148,...,2,2,2,0,0,4,0.79867,NaN,0,8
129995,1736,2.1740,0.000,0.000,0.000,11,4248,1577,13379,6671,...,4,0,4,0,0,4,0.43829,0,1,19
129996,1724,0.0000,1.108,0.768,0.000,NaN,64041,NaN,10926,84839,...,5,2,5,0,0.16667,14,0.57931,0,1,5
129997,1605,0.2901,11.561,0.937,2.976,NaN,2277,NaN,3964,5709,...,7,0,5,2,0.5,4,0.42069,0,1,22
129998,1780,1.1874,0.000,0.000,0.000,0,6356,4802,3206,18180,...,5,0,8,0,0.06061,9,0.53251,0,0,9
129999,1727,1.9288,1.441,0.000,0.000,0,25773,2869,132985,71788,...,11,15,4,0,0.07143,12,0.68482,0,1,89

In [9]:
imputer=MissForest()  #imputing using miss forest and separating the test and train data set
df1=imputer.fit_transform(df)
df=pd.DataFrame(df1)
data, data2 = df[:83000, :], df[83000:, :]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83000 entries, 0 to 82999
Data columns (total 41 columns):
mvar1     83000 non-null float64
mvar2     83000 non-null float64
mvar3     83000 non-null float64
mvar4     83000 non-null float64
mvar5     83000 non-null float64
mvar6     83000 non-null float64
mvar7     83000 non-null float64
mvar8     83000 non-null float64
mvar9     83000 non-null float64
mvar10    83000 non-null float64
mvar11    83000 non-null float64
mvar12    83000 non-null float64
mvar13    83000 non-null float64
mvar14    83000 non-null int64
mvar15    83000 non-null float64
mvar16    83000 non-null float64
mvar17    83000 non-null float64
mvar18    83000 non-null float64
mvar19    83000 non-null int64
mvar20    83000 non-null float64
mvar21    83000 non-null float64
mvar22    83000 non-null float64
mvar24    83000 non-null float64
mvar25    83000 non-null float64
mvar26    83000 non-null float64
mvar27    83000 non-null float64
mvar28    83000 non-null float64
mvar29    83000 non-null float64
mvar32    83000 non-null float64
mvar33    83000 non-null float64
mvar34    83000 non-null float64
mvar36    83000 non-null float64
mvar37    83000 non-null float64
mvar38    83000 non-null float64
mvar39    83000 non-null float64
mvar42    83000 non-null float64
mvar43    83000 non-null float64
mvar44    83000 non-null float64
mvar46    83000 non-null int64
mvar47    83000 non-null int64
mvar48    83000 non-null int64
dtypes: float64(36), int64(5)
memory usage: 26.0 MB

In [12]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47000 entries, 0 to 46999
Data columns (total 41 columns):
mvar1     47000 non-null float64
mvar2     47000 non-null float64
mvar3     47000 non-null float64
mvar4     47000 non-null float64
mvar5     47000 non-null float64
mvar6     47000 non-null float64
mvar7     47000 non-null float64
mvar8     47000 non-null float64
mvar9     47000 non-null float64
mvar10    47000 non-null float64
mvar11    47000 non-null float64
mvar12    47000 non-null float64
mvar13    47000 non-null float64
mvar14    47000 non-null int64
mvar15    47000 non-null float64
mvar16    47000 non-null float64
mvar17    47000 non-null float64
mvar18    47000 non-null float64
mvar19    47000 non-null int64
mvar20    47000 non-null float64
mvar21    47000 non-null float64
mvar22    47000 non-null float64
mvar24    47000 non-null float64
mvar25    47000 non-null float64
mvar26    47000 non-null float64
mvar27    47000 non-null float64
mvar28    47000 non-null float64
mvar29    47000 non-null float64
mvar32    47000 non-null float64
mvar33    47000 non-null float64
mvar34    47000 non-null float64
mvar36    47000 non-null float64
mvar37    47000 non-null float64
mvar38    47000 non-null float64
mvar39    47000 non-null float64
mvar42    47000 non-null float64
mvar43    47000 non-null float64
mvar44    47000 non-null float64
mvar46    47000 non-null int64
mvar47    47000 non-null int64
mvar48    47000 non-null int64
dtypes: float64(36), int64(5)
memory usage: 14.7 MB

In [13]:
# Splitting the data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data,Y,test_size=0.2,random_state=0)

In [14]:
# feature Scaling
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
X_train=sc_x.fit_transform(X_train)
X_test=sc_x.transform(X_test)

In [15]:
#Over_sampling

smt=SMOTE()
X_train,Y_train=smt.fit_sample(X_train,Y_train)
# XGB classifier
from xgboost import XGBClassifier
classifier=XGBClassifier(n_estimators=200)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
# Logistic Regression Classifier
from sklearn.linear_model import LogisticRegression
classifier1=LogisticRegression(random_state=0)

In [17]:
#random forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier2=RandomForestClassifier()
#SVM
from sklearn.svm import SVC
#AdaBoost Classifier
from sklearn.ensemble import AdaBoostClassifier
adaboost=AdaBoostClassifier()
#NaiveBayes 
from sklearn.naive_bayes import GaussianNB
naivebayes=GaussianNB()
#ensemble

In [18]:
#Voting
from sklearn.ensemble import VotingClassifier
model=VotingClassifier(estimators=[('lr',classifier1),('xgb',classifier),('xgb1',classifier),('xgb2',classifier),('rf',classifier2),('nb1',naivebayes),('rf1',classifier2),('ad1',adaboost),
                                   ('xgb3',classifier),('xgb4',classifier)],voting='hard')
model.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=0, solver='warn',
                                                 tol=0.0001, verbose=0,
                                                 warm_start=False)),
                             ('xgb',
                              XGBClassifier(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample...
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=3, min_child_weight=1,
                                            missing=None, n_estimators=200,
                                            n_jobs=1, nthread=None,
                                            objective='binary:logistic',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [21]:
#prediction

X=data2.iloc[:].values
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
X=sc_x.fit_transform(X)
#prediction with voting
y_pred=model.predict(X)

In [26]:
#prediction


#y_pred = pd.DataFrame(y_pred, columns=['y_pred']).to_csv('y_pred.csv')

# confusion matrix

from sklearn.metrics import confusion_matrix
y_test_pred=model.predict(X_test)
cm=confusion_matrix(Y_test,y_test_pred)
print(cm)
a=cm[0][0]+cm[1][1]
b=cm[0][0]+cm[0][1]+cm[1][0]+cm[1][1]
print(a/b)

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import f1_score


ans=balanced_accuracy_score(Y_test,y_test_pred)
print(ans)

f1=f1_score(Y_test,y_test_pred)
print(f1,'f1')

[[8676 3080]
 [1591 3253]]
0.7186144578313253
0.7047792802677284
0.5820882168739375 f1